@import "tailwindcss";
@tailwind utilities;

@layer utilities {
  .link {
    @apply text-xl font-medium;
  }

  .loginput {
    @apply bg-whitesmoke p-4 outline-none w-full max-w-lg;
  }

  .checkoutform {
    @apply w-sm p-2 rounded-2xl bg-cyan-100 outline-none;
  }

  .stripe-header {
    @apply text-sm font-medium md:text-3xl;
  }
}

@theme {
  --color-whitesmoke: whitesmoke;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  background-color: whitesmoke;
}
